body {
    background-image: url(./wallpaperbetter.com_1280x1024.jpg);
}
.top_dz {
    text-align: center;
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(255, 255, 255);
}
a {
    color: rgb(248, 65, 9);
}